<h1>All the cocktails</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @cocktails.each do |cocktail| %>
    <tr>
      <td><%= cocktail.name %></td>

      <td><%= link_to 'View details', cocktail %></td>
      <td><%= link_to 'Add a new dose', new_cocktail_dose_path(cocktail) %></td>
      <td><%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>


  </tbody>
</table>

<br>

<%= link_to 'New Cocktail', new_cocktail_path %>
